@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    letter-spacing: 0.2rem;
}

@font-face {
    font-family: 'Antro Vectra Bold';
    src: url('./fonts/Antro_Vectra_Bolder.otf') format('truetype');
    letter-spacing: 0.2rem;
}




@layer components {

    .burger-line {
        @apply block h-1 bg-white rounded transform transition-all duration-300 origin-center;
      }
      
      /* Prva linija skroz desno */
      .burger-line-1 {
        @apply w-5 self-end;
      }
      
      /* Druga linija široka i centrirana */
      .burger-line-2 {
        @apply w-8 self-center;
      }
      
      /* Treća linija skroz levo */
      .burger-line-3 {
        @apply w-5 self-start;
      }
      
      /* Kada je otvoren - pravi X */
      .burger-open .burger-line-1 {
        @apply w-8;
        transform: rotate(45deg) translate(4px, 4px);
      }
      
      .burger-open .burger-line-2 {
        @apply opacity-0;
        transform: scale(0);
      }
      
      .burger-open .burger-line-3 {
        @apply w-8;
        transform: rotate(-45deg) translate(9px, -9px);
      }
      
      
    .technologies {
        user-select: none;
        --gap: 20px;
        gap: var(--gap);
    }
    
    .technologies ul {
        flex-shrink: 0;
        min-width: 100%;
        gap: var(--gap);
        animation: scroll 20s linear infinite;
    }
    
    .technologies:hover ul {
        animation-play-state: paused;
    }
    
    @keyframes scroll {
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    
    .section--hidden {
        opacity: 0;
        transform: translateY(8rem);
    }
    
    .section {
        transition: transform 1s, opacity 1s;
    }

    .swiper {
		padding: 0 10px 30px !important;
	 }

   
        .lazy-img {
    filter: blur(20px);
        }


    img {
            transition: filter 0.5s;
          }
}	