@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    letter-spacing: 0.2rem;
}

@font-face {
    font-family: 'Antro Vectra Bold';
    src: url('./fonts/Antro_Vectra_Bolder.otf') format('truetype');
    letter-spacing: 0.2rem;
}




@layer components {

    .burger-line {
        @apply block h-0.5 bg-white rounded transform transition-all duration-300 origin-center;
    }
    
    .burger-line-1 {
        @apply w-5;
    }
    
    .burger-line-2 {
        @apply w-7;
    }
    
    .burger-line-3 {
        @apply w-4;
    }
    
    .burger-open .burger-line-1 {
        @apply w-7;
        transform: rotate(45deg) translate(0.25rem, 0.25rem);
    }
    
    .burger-open .burger-line-2 {
        @apply opacity-0;
        transform: scale(0);
    }
    
    .burger-open .burger-line-3 {
        @apply w-7;
        transform: rotate(-45deg) translate(0.25rem, -0.25rem);
    }

    .technologies {
        user-select: none;
        --gap: 20px;
        gap: var(--gap);
    }
    
    .technologies ul {
        flex-shrink: 0;
        min-width: 100%;
        gap: var(--gap);
        animation: scroll 20s linear infinite;
    }
    
    .technologies:hover ul {
        animation-play-state: paused;
    }
    
    @keyframes scroll {
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    
    .section--hidden {
        opacity: 0;
        transform: translateY(8rem);
    }
    
    .section {
        transition: transform 1s, opacity 1s;
    }

    
}